*{
    font-family: 'Roboto Serif', serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    
}
h3{
    font-weight: 900;
}
.full{
    background-color:rgba(0, 0, 0, 0.034);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
    gap: 20px;
    height: 60vh;
}

.red{
    color: red;
}
.green{
    color: green;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.container2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    gap: 20px;
    max-height: 60vh;
}
.list{
    overflow-y: scroll;
    width: 22em;
}
li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.balance-sheet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}
input{
    padding: 2px;
}

.balance, .debited{
    border: 2px solid black;
    padding: 15px;
    background-color:azure
}