* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.all{
    padding: 20px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: hsl(228, 33%, 97%);
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 33%, 97%);
}

.wrapper{
    width:700px;        
}

.id{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(223, 19%, 93%);
    padding: 10px 10px;
    gap: 5px;
    border-radius: 8px;
}

.right-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-end;
}
.details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.dp{
    height: 5vh;
}
.reply-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-items: end;
}
.delete-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* REPLY */

.reply-wrapper{
    width: 650px;
    align-items: end;
    margin-left: 50px;
    margin-top: 20px;
}
.your-reply-wrapper{
    width: 650px;
    align-items: end;
    margin-left: 50px;
    margin-top: 20px;
}

/* ADD */

.add{
     display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;

}
.add textarea{
    width: 500px;
    height: 13vh;
    padding: 10px;
}
button{
    padding: 10px 20px;
    height: 6vh;
    border-radius: 7px;
    background-color: hsl(238, 40%, 52%);
    color: white;
}
.edit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-items: end;
}

/* REPLY  */


.your-reply-input{
    width: 650px;
    align-items: end;
    margin-left: 50px;
    margin-top: 20px;
}
.id textarea{
    width: 500px;
    height: 12vh;
    padding: 5px 0px;
}
.content textarea{
    width: 550px;
    height: 10vh;
    padding: 5px;
}

.edit-btn-final{
    width: 5vw;
    position: relative;
    left: 87%;
    
}

.disabled{
    color: red
}

.disabled-btn{
    display: none;
}